@import "tailwindcss";

/* 整體寬度 */
.wrapper {
    @apply max-w-[1000px] mx-auto px-[5%];
}

/* 點擊變色 */
.click-color-dark {
    @apply text-stone-600
    hover:text-stone-300
    active:text-white
    transition-all duration-500;

}

.click-color-light {
    @apply bg-stone-500 text-white
    hover:bg-stone-300 hover:text-stone-600
    active:border-1 active:bg-white
    transition-all duration-500;
}

.click-color-mid {
    @apply bg-stone-400 text-white
    hover:bg-stone-300 hover:text-stone-600
    active:border-1 active:bg-white
    transition-all duration-500;
}

/* 按鈕不含顏色 */
.button {
    @apply font-semibold text-nowrap text-sm 
    px-3 py-1.5 mb-2 md:px-3 md:py-1.5 md:my-1.5 
    rounded-md md:w-auto text-center;
}

/* checkbox */
.checkbox {
    @apply h-5 w-5 text-stone-600 mx-3;
}

/* 巢狀路由的 nav */
.child-nav {
    @apply flex gap-2 my-2;
}

.child-nav-col {
    @apply flex flex-col mr-6;
}

/* 禁止點擊 */
.not-allowed {
    @apply bg-neutral-200 text-neutral-400 cursor-not-allowed;
}

/* 錯誤 */
.error {
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4;
}

/* 共用大標題 */
.title {
    @apply text-2xl font-bold text-stone-400 my-3;
}

/* 共用文字 */
.dark-text {
    @apply flex-grow font-semibold text-stone-700 mb-2;
}

.dark-text-xs {
    @apply text-xs text-stone-700;
}

.light-bold-text-xl {
    @apply text-xl font-bold text-stone-500;
}

.light-bold-text {
    @apply font-bold text-stone-500;
}

.light-bold-text-xs {
    @apply text-xs font-bold text-stone-500;
}

/* no-data */
.no-data-bg {
    @apply bg-gray-100 p-8 rounded-lg text-center;
}

.no-data-text {
    @apply text-gray-600 mb-4;
}

/* form input */
.input-label {
    @apply flex justify-between items-center
    text-nowrap text-left font-bold mt-4 mb-1;
}

.input-text {
    @apply min-w-[60vw] sm:min-w-[50vw] md:min-w-[40vw] lg:min-w-[30vw]
    ml-4 p-2 rounded-lg border-1 border-stone-300 text-sm;
}

.errMsg-border {
    @apply border-red-500;
}